// Place all the styles related to the Contactpayments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  border-style:solid;
  border-spacing:0px;
  border-color:black;
}

table tr th {
  background-color:gray;
}
