<div id="category">
<h4><%= link_to t('.home'), store_path(pid: "") %></h4>
<ul>
  <li><a href="#">品牌</a>
        <ul>
        <li><a href="#">艾彼希</a></li>
<li><a href="#">大拇指</a></li>
<li><a href="#">古韵</a></li>
<li><a href="#">佳利士</a></li>
<li><a href="#">闽江</a></li>
<li><a href="#">日宝</a></li>
<li><a href="#">三元</a></li>
<li><a href="#">睿美</a></li>
<li><a href="#">其它</a></li>
                          </ul>
  </li>
  <li><a href="#">系列</a>
    <ul>
<li><a href="#">艾彼希</a></li>
<li><a href="#">八星</a></li>
<li><a href="#">白骏</a></li>
<li><a href="#">宝来</a></li>
<li><a href="#">大拇指</a></li>
<li><a href="#">得宝</a></li>
<li><a href="#">鼎福</a></li>
<li><a href="#">定制</a></li>
<li><a href="#">古韵</a></li>
<li><a href="#">黑骏</a></li>
<li><a href="#">佳利士</a></li>
<li><a href="#">金钻</a></li>
<li><a href="#">九星</a></li>
<li><a href="#">领航</a></li>
<li><a href="#">美派</a></li>
<li><a href="#">美尊</a></li>
<li><a href="#">日宝</a></li>
<li><a href="#">三元</a></li>
<li><a href="#">水晶</a></li>
<li><a href="#">团圆</a></li>
<li><a href="#">系列</a></li>
<li><a href="#">RB</a></li>
<li><a href="#">RC</a></li>
<li><a href="#">RE</a></li>
<li><a href="#">RF</a></li>
<li><a href="#">其它</a></li>
                          </ul>
  </li>
  <li><a href="#">类别</a>
        <ul>
<li><a href="#">灯具类</a></li>
<li><a href="#">工具类</a></li>
<li><a href="#">加热棒</a></li>
<li><a href="#">类别</a></li>
<li><a href="#">器材类</a></li>
<li><a href="#">水族箱</a></li>
<li><a href="#">鱼粮</a></li>
<li><a href="#">鱼药</a></li>
<li><a href="#">消耗品</a></li>
<li><a href="#">装饰品</a></li>
<li><a href="#">其它</a></li>
                          </ul>
  </li>
</ul>
</div>

