.link1 {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
.a2 {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 9pt
}
.a3 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ffffff; TEXT-DECORATION: none
}
.a4 {
	FONT-SIZE: 9pt; COLOR: #bceafc; TEXT-DECORATION: none
}
.bg {
	FONT-SIZE: 9pt; COLOR: #bceafc; BACKGROUND-COLOR: #0f6dba
}
.a5 {
	FONT-SIZE: 9pt; COLOR: #1765a4; TEXT-DECORATION: none
}
B {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.b {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
B:hover {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: underline
}
B:link {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
B:active {
	FONT-SIZE: 9pt
}
B:visited {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.bg1 {
	COLOR: #000463; BACKGROUND-COLOR: #dce3ed
}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BACKGROUND-COLOR: #f2f8ff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
BODY {
	SCROLLBAR-FACE-COLOR: white; SCROLLBAR-HIGHLIGHT-COLOR: white; SCROLLBAR-SHADOW-COLOR: #add0eb; SCROLLBAR-3DLIGHT-COLOR: #add0eb; SCROLLBAR-ARROW-COLOR: #5e9cc7; SCROLLBAR-TRACK-COLOR: white; SCROLLBAR-DARKSHADOW-COLOR: white
}
TEXTAREA {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid; FONT-FAMILY: ??; BACKGROUND-COLOR: #ffffff
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; FONT-FAMILY: ??; BACKGROUND-COLOR: #f2f8ff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: ??
}
.a6 {
	FONT-SIZE: 9pt; COLOR: #104a7b; TEXT-DECORATION: none
}
.unnamed1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #656565; TEXT-ALIGN: center
}
.unnamed2 {
	FONT-SIZE: 12px; COLOR: #252525; TEXT-INDENT: 5pt
}
.unnamed3 {
	FONT-SIZE: 12px; TEXT-INDENT: 5pt
}
.unnamed4 {
	FONT-SIZE: 12px; COLOR: #0e437d; TEXT-ALIGN: center
}
.unnamed5 {
	BORDER-RIGHT: #707070 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-BOTTOM: #707070 1px solid
}
.unnamed6 {
	FONT-SIZE: 12px
}
.a1 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.h2 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #fafafa; TEXT-DECORATION: none
}
.t1 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f4f4f4; TEXT-DECORATION: none
}
.t2 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #d9e6f4; TEXT-DECORATION: none
}
.t3 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000463; BACKGROUND-COLOR: #d9e6f4; TEXT-DECORATION: none
}
.t4 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
INPUT.required {
	BORDER-RIGHT: #00a8e6 1px solid; BORDER-TOP: #00a8e6 1px solid; BORDER-LEFT: #00a8e6 1px solid; BORDER-BOTTOM: #00a8e6 1px solid
}
TEXTAREA.required {
	BORDER-RIGHT: #00a8e6 1px solid; BORDER-TOP: #00a8e6 1px solid; BORDER-LEFT: #00a8e6 1px solid; BORDER-BOTTOM: #00a8e6 1px solid
}
INPUT.validation-failed {
	BORDER-RIGHT: #ff3300 1px solid; BORDER-TOP: #ff3300 1px solid; BORDER-LEFT: #ff3300 1px solid; COLOR: #ff3300; BORDER-BOTTOM: #ff3300 1px solid
}
TEXTAREA.validation-failed {
	BORDER-RIGHT: #ff3300 1px solid; BORDER-TOP: #ff3300 1px solid; BORDER-LEFT: #ff3300 1px solid; COLOR: #ff3300; BORDER-BOTTOM: #ff3300 1px solid
}
INPUT.validation-passed {
	BORDER-RIGHT: #00cc00 1px solid; BORDER-TOP: #00cc00 1px solid; BORDER-LEFT: #00cc00 1px solid; COLOR: #000; BORDER-BOTTOM: #00cc00 1px solid
}
TEXTAREA.validation-passed {
	BORDER-RIGHT: #00cc00 1px solid; BORDER-TOP: #00cc00 1px solid; BORDER-LEFT: #00cc00 1px solid; COLOR: #000; BORDER-BOTTOM: #00cc00 1px solid
}
.validation-advice {
	BORDER-RIGHT: #808080 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; MARGIN: 2px 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 1px solid; COLOR: #fff; PADDING-TOP: 1px; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #ff5b5b
}
.redBigButton {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT: 12px "??"; BORDER-LEFT: medium none; WIDTH: 80px; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: medium none; HEIGHT: 20px; BACKGROUND-COLOR: #e2e8ff; TEXT-ALIGN: center
}
.custom-advice2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; COLOR: #ff3300; PADDING-TOP: 5px; BACKGROUND-COLOR: #dff3fb
}
.custom-advice1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; COLOR: #fff; PADDING-TOP: 5px; BACKGROUND-COLOR: #c8aa00
}
