<h1>Listing profitareas</h1>

<table>
  <tr>
    <th>Custstate</th>
    <th>Profit</th>
  </tr>

<% @profitareas.each do |profitarea| %>
  <tr>
    <td><%= profitarea.custstate %></td>
    <td><%= profitarea.profit %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @profitareas, :window => 2 %>
<br />

